.peticion-table-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  overflow-x: auto; /* Para permitir el desplazamiento horizontal en pantallas pequeñas */
}

.peticion-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.peticion-table th,
.peticion-table td {
  padding: 10px;
  text-align: center; /* Ajustar alineación */
  border-bottom: 1px solid #ddd;
}

.peticion-table th {
  background-color: #565F86;
  color: white;
}

.peticion-table tr:hover {
  background-color: #f1f1f1;
}

.peticion-table td {
  padding: 12px 15px;
  color: #333; /* Texto oscuro para mayor contraste */
}

.peticion-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Fondo gris claro para filas pares */
}

.peticion-table td {
  background-color: #ffffff; /* Fondo blanco para celdas */
}

/* Media Queries para Responsividad */

/* Tablets y dispositivos más pequeños */
@media (max-width: 900px) {
  .peticion-table th, .peticion-table td {
    padding: 8px; /* Reducir padding */
    font-size: 14px; /* Reducir tamaño de fuente */
  }
}

/* Móviles y dispositivos más pequeños */
@media (max-width: 600px) {
  .peticion-table-container {
    padding: 10px; /* Reducir padding del contenedor */
    margin: 10px; /* Reducir margen del contenedor */
  }

  .peticion-table th, .peticion-table td {
    padding: 6px; /* Reducir padding */
    font-size: 12px; /* Reducir tamaño de fuente */
  }

  .peticion-table th {
    font-size: 14px; /* Reducir tamaño de fuente del encabezado */
  }
}

.action-button {
  background: #565F86;
  color: white;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.action-button:hover {
  background-color: lightslategray;
  transform: scale(1.05);
  will-change: transform;
}